<wl-page page-title="Quản lý sấy gỗ">
    <p-tabs [value]="tabIndex" class="wl-tabs">
        <div class="hidden sm:hidden md:block lg:block xl:block">
            <p-tablist>
                <p-tab [value]="item.tab" *ngFor="let item of chucNangQuanLySayGo">{{item.title}}</p-tab>
            </p-tablist>
        </div>
        <div class="block sm:block md:hidden lg:hidden xl:hidden">
            <p-select [options]="chucNangQuanLySayGo" optionLabel="title" filterBy="title"
                [showClear]="false" placeholder="Chọn chức năng Quản lý sấy gỗ"
                class="w-full wl-select border !border-[#FFFFFF] !border-b-[#ccc] !rounded-[0px] !h-[50px]"
                (onChange)="onChangeTab($event)" [(ngModel)]="selected">
            </p-select>
        </div>

        <p-tabpanels class="bg-gray-100">
            <p-tabpanel [value]="0">
                <app-drying-wood></app-drying-wood>
            </p-tabpanel>
            <p-tabpanel [value]="1">
                <app-drying-plan></app-drying-plan>
            </p-tabpanel>
            <p-tabpanel [value]="2">
                <app-drying-into-oven></app-drying-into-oven>
            </p-tabpanel>
            <p-tabpanel [value]="3">
                <app-oven-checking></app-oven-checking>
            </p-tabpanel>
            <p-tabpanel [value]="4">
                <app-oven></app-oven>
            </p-tabpanel>
            <p-tabpanel [value]="5">
                <app-drying-evaluation></app-drying-evaluation>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</wl-page>