<div class="overflow-x-hidden p-4">
    <p-tabs [value]="tabIndex" class="wl-tabs">
        <p-tablist>
            <p-tab [value]="item.tab" *ngFor="let item of chucNangQuanLySayGo">{{item.title}}</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0">
                <app-drying-wood></app-drying-wood>
            </p-tabpanel>
            <p-tabpanel [value]="1">
                <app-drying-plan></app-drying-plan>
            </p-tabpanel>
            <p-tabpanel [value]="2">
                <app-drying-into-oven></app-drying-into-oven>
            </p-tabpanel>
            <p-tabpanel [value]="3">
                <app-oven-checking></app-oven-checking>
            </p-tabpanel>
            <p-tabpanel [value]="4">
                <app-oven></app-oven>
            </p-tabpanel>
            <p-tabpanel [value]="5">
                <app-drying-evaluation></app-drying-evaluation>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>