<div
    class="flex flex-col gap-y-4 overflow-y-hidden xs:overflow-y-auto md:overflow-y-hidden lg:overflow-y-hidden xl:overflow-y-hidden">
    <div class="flex justify-between items-center">
        <div class="flex items-center">
            <span class="font-bold text-[22px] text-[#17506B]">Danh sách người dùng</span>
        </div>
        <div class="flex gap-x-2">
            <button
                class="hidden sm:hidden md:block lg:block xl:block wl-button-o bg-gradient-to-r from-[#1e2737] to-[#072450] px-4 font-medium cursor-pointer">
                <i class="fa-solid fa-file-export"></i> Xuất file
            </button>
            <button
                class="hidden sm:hidden md:block lg:block xl:block wl-button-o bg-gradient-to-r from-[#1e2737] to-[#072450] px-4 font-medium cursor-pointer">
                <i class="fa-solid fa-user-plus"></i> Tạo người dùng
            </button>
        </div>
        <div class="md:hidden">
            <i class="fa-solid fa-ellipsis-vertical cursor-pointer text-[#17506B] text-[22px]"
                (click)="op.toggle($event)"></i>
        </div>
    </div>
    <div class="">
        <p-card class="">
            <p-panel header="Tìm kiếm" [toggleable]="true" [collapsed]="true">
                <div class=" xl:grid md:grid xl:space-y-0 space-y-4 gap-5  md:grid-cols-3 xl:grid-cols-4 mb-3">
                    <div class="gap-2">
                        <input type="text" class="wl-input" placeholder="Tìm theo tên hoặc mã nhân viên"
                            pTooltip="Tìm theo tên hoặc mã nhân viên" tooltipPosition="bottom" />
                    </div>
                    <div class="gap-2">
                        <p-select [options]="[]" optionLabel="name" [filter]="false" filterBy="name" [showClear]="true"
                            placeholder="Tìm theo nhà máy" class="w-full wl-select" pTooltip="Tìm theo nhà máy"
                            tooltipPosition="bottom">
                            <ng-template let-country #item>
                                <div class="flex items-center gap-2">
                                    <div>{{ country.name }}</div>
                                </div>
                            </ng-template>
                        </p-select>
                    </div>
                    <div class="gap-2">
                        <p-select [options]="[]" optionLabel="name" [filter]="false" filterBy="name" [showClear]="true"
                            placeholder="Tìm theo Chi nhánh" class="w-full wl-select" pTooltip="Tìm theo Chi nhánh"
                            tooltipPosition="bottom">
                            <ng-template let-country #item>
                                <div class="flex items-center gap-2">
                                    <div>{{ country.name }}</div>
                                </div>
                            </ng-template>
                        </p-select>
                    </div>
                </div>
                <div>
                    <button
                        class="bg-[#17506B] px-5 cursor-pointer h-[35px] text-[#FFFFFF] rounded-[6px] w-full sm:w-full md:w-[150px]">
                        Tìm kiếm
                    </button>
                </div>
            </p-panel>
        </p-card>
    </div>
    <div>
        <div class="hidden sm:hidden md:hidden lg:block max-h-[600px]">
            <p-card>
                <table class="w-full">
                    <tr class="bg-[#17506B] text-[#FFFFFF] h-[50px] text-center">
                        <th class="px-3 py-2">Họ tên</th>
                        <th class="px-3 py-2">Mã nhân viên</th>
                        <th class="px-3 py-2">Chi nhánh</th>
                        <th class="px-3 py-2">Nhà máy</th>
                        <th class="px-3 py-2">Nghiệp vụ</th>
                        <th class="px-3 py-2">SAP ID</th>
                        <th class="px-3 py-2">Chặn</th>
                        <th class="px-3 py-2"></th>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr class="">
                        <td class="px-3 py-2 text-center border-b">Họ tên</td>
                        <td class="px-3 py-2 text-center border-b">Mã nhân viên</td>
                        <td class="px-3 py-2 text-center border-b">Chi nhánh</td>
                        <td class="px-3 py-2 text-center border-b">Nhà máy</td>
                        <td class="px-3 py-2 text-center border-b">Nghiệp vụ</td>
                        <td class="px-3 py-2 text-center border-b">SAP ID</td>
                        <td class="px-3 py-2 text-center border-b">Chặn</td>
                        <td class="px-3 py-2 text-right border-b text-[15px]">
                            <span class="mr-3 cursor-pointer" title="Cập nhật người dùng"><i
                                    class="fa-solid fa-pen-to-square"></i></span>
                            <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i></span>
                        </td>
                    </tr>
                </table>

                <ng-template #footer>
                    <div class="mt-1 flex justify-center items-center">
                        <p-paginator [first]="0" [rows]="10" [totalRecords]="120" class="wl-paging" />
                    </div>
                </ng-template>
            </p-card>
        </div>


        <div class="block sm:block md:block lg:hidden">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-x-3 gap-y-3 grid-rows-1">
                <p-card>
                    <div class="">
                        <div class="flex justify-between mb-3">
                            <div>
                                <span class="font-bold text-[#17506B] text-[20px]">25T0162</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-ellipsis-vertical cursor-pointer text-[#17506B] text-[22px]"
                                    (click)="op1.toggle($event)"></i>
                            </div>
                        </div>
                        <div class="">
                            <div class="grid gap-y-2">
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">Họ tên:</div>
                                    <div>Phạm Anh Tuấn</div>
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">Chi nhánh:</div>
                                    <div>Tuyên Quang</div>
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">Nhà máy:</div>
                                    <div>Thuận Hưng</div>
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">Nghiệp vụ:</div>
                                    <div>VP</div>
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">SAP ID:</div>
                                    <div>102</div>
                                </div>
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">Chặn:</div>
                                    <div><p-toggleswitch /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="mt-3">
                <div class="flex justify-center items-center">
                    <p-paginator [first]="0" [rows]="10" [totalRecords]="120" class="wl-paging" />
                </div>
            </div>
        </div>
    </div>
</div>

<p-popover #op>
    <div class="flex flex-col gap-4 w-[140px]">
        <ul class="list-inside space-y-4">
            <li class="cursor-pointer">
                <a routerLink="/user/create"><i class="fa-solid fa-user-plus"></i> Tạo người dùng</a>
            </li>
        </ul>
    </div>
</p-popover>

<p-popover #op1>
    <div class="flex flex-col gap-4 w-[140px]">
        <ul class="list-inside space-y-4">
            <li class="cursor-pointer">
                <span class="cursor-pointer" title="Cập nhật người dùng"><i
                        class="fa-solid fa-pen-to-square"></i> Cập nhật</span>

            </li>
            <li>
                <span class="cursor-pointer" title="Xóa người dùng"><i class="fa-solid fa-trash"></i> Xóa người dùng</span>
            </li>
        </ul>
    </div>
</p-popover>