<wl-page page-title="Quản lý người dùng">
    <app-user-list></app-user-list>
    <!-- <p-tabs [value]="tab" class="wl-tabs">
        <div class="md:block lg:block xl:block">
            <p-tablist>
                <p-tab [value]="0">Danh sách người dùng</p-tab>
                <p-tab [value]="1">Phân quyền</p-tab>
            </p-tablist>
        </div>

        <p-tabpanels class="">
            <p-tabpanel [value]="0">
                <app-user-list></app-user-list>
            </p-tabpanel>
            <p-tabpanel [value]="1">
                <app-role></app-role>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs> -->
</wl-page>