<div class="overflow-y-hidden overflow-x-hidden h-screen px-[30px] pb-[40px] pt-[10px]" id="login-page">
    <div class="flex items-center text-center col-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12"
        [ngClass]="{
            'text-green-500': networkStatus === NETWORK_STATUS.GOOD,
            'text-red-500': networkStatus === NETWORK_STATUS.SLOW,
            'text-orange-600': networkStatus === NETWORK_STATUS.AVERAGE,
            'text-gray-500': networkStatus === NETWORK_STATUS.OFFLINE
        }">
        <div class="mr-2">
            <div *ngIf="networkStatus === NETWORK_STATUS.GOOD">
                <app-good-network />
            </div>
            <div *ngIf="networkStatus === NETWORK_STATUS.AVERAGE">
                <app-normal-network />
            </div>
            <div *ngIf="networkStatus === NETWORK_STATUS.SLOW">
                <app-bad-network />
            </div>
            <div *ngIf="networkStatus === NETWORK_STATUS.OFFLINE">
                <app-offline-network />
            </div>
        </div>
        <div>
            Kết nối: {{networkStatus}}
        </div>
    </div>
    <div class="flex flex-col items-center justify-center" style="min-height: calc(100vh - 120px); ">
        <div
            class="mb-5 col-12 sm:grid-cols-12 md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 flex justify-center items-center">
            <img src="WLorigin.svg" alt="logo_wl" style="width: 100px;" />
        </div>
        <div class="rounded-xl p-4 sm:grid-cols-12 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-3"
            style="background: #FFF;">
            <div class="">
                <div class="" style="font-weight: 700; font-size: 1.875rem;">Đăng nhập.</div>
                <div>Vui lòng đăng nhập để sử dụng.</div>
            </div>
            <div class="mt-4">
                <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="font-bold">Email</label>
                        <input type="text" formControlName="pattern" class="wl-input" id="exampleInputEmail1" placeholder="Nhập mã nhân viên hoặc email" />
                        <div *ngIf="submited && form.get('pattern')?.errors?.['required']" class="text-red-500 mt-1">
                            Vui lòng nhập mã nhân viên hoặc email.
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="font-bold">Mật khẩu</label>
                        <div class="">
                            <input type="password" formControlName="password" class="wl-input"
                                id="exampleInputPassword1" placeholder="••••••••" />
                        </div>
                        <div *ngIf="submited && form.get('password')?.errors?.['required']" class="text-red-500 mt-1">
                            Vui lòng nhập mật khẩu.
                        </div>
                    </div>
                    <div class="">
                        <button type="submit" class="w-100 wl-button font-bold cursor-pointer">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
