/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

#login-page {
    background-color: #e2e3eb;
}

.wl-button {
    background: #17506B;
    color: white;
    border: none;
    border-radius: 6px;
    height: 40px;
}

.wl-input {
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 40px;
    padding: 0 12px;
    width: 100%;
    box-sizing: border-box;
}
.user-popover li:hover {
    color: #17506B;
    font-weight: bold;
    cursor: pointer;
}

#wl-sidebar a:hover {
    background-color: #17506B;
    color: white;
    font-weight: bold;
}

#wl-sidebar a.active {
    color: #17506B;
    font-weight: bold;
}

#wl-sidebar a.active:hover {
    background-color: #17506B;
    color: white;
    font-weight: bold;
}

#modal-change-factory ul li {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    text-align: center ;
}

#modal-change-factory ul li:hover {
    background-color: #17506B;
    color: white;
    font-weight: bold;
}

.wl-tabs .p-tab-active {
    color: #17506B;
    font-weight: bold;
}

#wl-app-toast .p-toast-message-error{
    background-color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
}

#wl-app-toast .p-toast-message-success{
    background-color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
}

#wl-app-toast .p-toast-summary{
    display: none;
}

#wl-app-toast .p-toast-detail {
    color: white;
}